MYSQL_ROOT_PASSWORD=root
MYSQL_DATABASE=g-commerce
MYSQL_USER=user
MYSQL_PASSWORD=pass
MYSQL_CHARSET=utf8mb4
MYSQL_COLLATION=utf8mb4_unicode_ci
ADMIN_EMAIL=admin@example.com
ADMIN_PASSWORD=admin
ADMIN_NAME=Administrator
CORS_ORIGINS=http://localhost:3000